
.container3 {
    padding: 20px;
    background-color: #44a9cb;
  }
  
  .user1 {
    color:yellow;
    font-size: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-bottom: 20px;
    text-align: center;
  }
  
  .ul1 {
    list-style-type: none;
    padding: 0;
  }
  
  .li1 {
    background: #fff;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
  }
  
  li span {
    display: block;
    margin-bottom: 5px;
  }
  .label{
    font-weight: bold;
  }